.section.profile {
    display: flex;
    justify-content: center;
}
.card {
    min-width: 300px;
    width: 500px;
}
div.complete-course {
    overflow: scroll;
    margin-right: 20px;  
    margin-left: 20px;  
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    height: 175px;   
    border: 2px solid hsl(141, 53%, 53%);
    box-shadow: 5px 10px hsl(141, 53%, 53%);
}
div.have-reqs-course {
    margin-right: 20px;
    overflow: scroll;  
    margin-left: 20px;  
    margin-top: 0px;
    margin-bottom: 0px;
    width: inherit;
    padding: 0px;
    height: 175px;
    border: 2px solid hsl(48, 100%, 67%);
    box-shadow: 5px 10px hsl(48, 100%, 67%);
}
div.need-reqs-course {
    overflow: scroll;
    height: 175px;
    width: inherit;
    margin-right: 20px;  
    margin-left: 20px;  
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    border: 2px solid hsl(348, 100%, 61%);
    box-shadow: 5px 10px hsl(348, 100%, 61%);
}
div.courseTitle {
    padding-top: 0px;
    padding-bottom: 10px;
}
.level {
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.columns {
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 0px;
    padding-bottom: 20px;
    margin-bottom: 40px;
    
}

/* .tab {
    visibility: hidden;
} */
#greeting {
    cursor: auto;
    border: none;
}
