.section.profile {
    display: flex;
    justify-content: center;
}
.card {
    min-width: 300px;
    width: 500px;
}
div.complete-course {
    margin-right: 20px;  
    margin-left: 20px;  
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    height: 175px;   
    border: 2px solid hsl(141, 53%, 53%);
    box-shadow: 5px 10px hsl(141, 53%, 53%);
}
div.have-reqs-course {
    margin-right: 20px;
     
    margin-left: 20px;  
    margin-top: 0px;
    margin-bottom: 0px;
    width: inherit;
    padding: 0px;
    height: 175px;
    border: 2px solid hsl(48, 100%, 67%);
    box-shadow: 5px 10px hsl(48, 100%, 67%);
}
div.need-reqs-course {
    height: 175px;
    width: inherit;
    margin-right: 20px;  
    margin-left: 20px;  
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    border: 2px solid hsl(348, 100%, 61%);
    box-shadow: 5px 10px hsl(348, 100%, 61%);
}
div.courseTitle {
    padding-top: 0px;
    padding-bottom: 10px;
}
.level {
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.columns {
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 0px;
    padding-bottom: 20px;
    margin-bottom: 40px;
    
}

.card-footer-class {
    position: absolute;
    width: 100%; 
    bottom: 0px; 
    height: 50px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.card-footer-item {
    color: black;
}

.card-content-class {
    overflow: scroll;
    height: 125px;
}



/* .tab {
    visibility: hidden;
} */
#greeting {
    cursor: auto;
    border: none;
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
  }
  input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
  }

  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
  }
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
  }

  /* .tabs ul{
      justify-content: center;
  } */

